# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

tags

# automake
*_demo
*_out
config.*
.deps
.dirstamp
.libs
autom4te.cache
stamp-h1
autoscan.log
configure.scan
Makefile.in
aclocal.m4
compile
configure
depcomp
install-sh
missing
ar-lib
libtool
m4
ltmain.sh

Makefile
